@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 50%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat';
}

main {
  padding: 20px;
}

button {
  cursor: pointer;
  font-weight: bold;
}

.nav-container {
  display: flex;
  color: rgb(187, 181, 181);
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
}

.selected {
  color: red;
}

.toggle-button {
  color: red;
  background-color: transparent;
  border: none;
  font-size: 1.25em;
}

.logo-text {
  cursor: pointer;
  color: red;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  list-style: none;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  gap: 200px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 15px;
  border-radius: 100px;
  border: 1px solid black;
  font-family: 'Montserrat';
}

.cv {
  background-color: red;
  color: white;
  border: none;
}

.projects {
  color: black;
  background-color: white;
}

.hero-text > * {
  margin: 0;
}

.hero-p {
  font-weight: bold;
  font-size: 35px;

}

.hero-p-2 {
  font-weight: bold;
}

.name {
  color: red;
}

.hero-img {
  width: 270px;
  border-radius: 200px;
}

.about-me-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-h1 {
  color: red;
}

.about-me-p {
  text-align: center;
}

.education-h1 {
  color: red;
  text-align: center;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
  place-items: center;
}


.course-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: auto;
  background-color: rgb(230, 71, 71);
  color: white;
  width: 100%;
  min-height: 150px;
}

.course-container > * {
  margin: 0;
}

.course-place {
  font-size: 12px;
}

.date-container {
  display: flex;
  gap: 2px;
  flex-direction: column;
  gap: 10px;
}

.dates {
  font-weight: bold;
  font-style: italic;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 20px;
  place-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-container > * {
  margin: 0;
  padding: 0;
}

.cv:hover {
  
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.project-text > * {
  margin: 0;
}

.project-img-wrapper {
  position: relative;
  width: 300px; 
  height: auto; 
}

.project-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 49, 49, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  gap: 10px;
}

.project-img-wrapper:hover .overlay {
  opacity: 1;
}

.overlay-btn {

  font-size: 50px;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.button-text {
  color: white;
  font-weight: bold;
}

.button-content > * {
  margin: 0;
}

.project-concept {
  text-align: center;
  font-size: 18px;
}

.project-link {
  text-align: center;
}

.projects-h1 {
  color: red;
  text-align: center;
}

.project-h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ver-mas {
  margin-bottom: 0;
  text-decoration: underline;
  color: red;
}

.project-title {
  font-weight: bold;
  font-size: 20px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .toggle-button {
    animation: logo-spin infinite 6s linear
  }
}

@media only screen and (max-width: 500px) {

  #root {
    max-width: 100%;
  }

  .hero{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .hero-p {
    text-align: center;
  }

  .hero-img {
    margin-top: 90px ;
    margin-bottom: -90px;
  }

  .hero-text {
    text-align: center;
    margin-bottom: 50px;
  }

  .education-container {
    display: flex;
    flex-direction: column;
  }

  .about-me-container {
    padding: 0;
  }

  .course-container {
    text-align: center;
    gap: 10px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ver-mas {
    text-align: center;
  }
  .responsive-buttons-project {
    display: flex;
    padding: 15px;

  }


}

